Pods/Target[[:space:]]Support[[:space:]]Files filter=lfs diff=lfs merge=lfs -text
Pods/libwebp filter=lfs diff=lfs merge=lfs -text
Pods/Headers filter=lfs diff=lfs merge=lfs -text
Pods/Local[[:space:]]Podspecs filter=lfs diff=lfs merge=lfs -text
Pods/Manifest.lock filter=lfs diff=lfs merge=lfs -text
Pods/Pods.xcodeproj filter=lfs diff=lfs merge=lfs -text
Pods/QMapKit filter=lfs diff=lfs merge=lfs -text
Pods/TNKNavigationKit filter=lfs diff=lfs merge=lfs -text
